# sfinance SDK Showcase

This notebook demonstrates how to use the `sfinance` package â€” a Python SDK for extracting structured financial data from dynamically rendered websites using Selenium.

In [1]:
# If sfinance is not installed from PyPI or local:
# %pip install sfinance

In [2]:
from sfinance.sfinance import SFinance
from sfinance.exceptions import TickerNotFound, LoginRequiredError

# Create an instance (example uses a known financial site structure)
sf = SFinance(base_url="https://www.screener.in/")

## Fetch and display ticker data

In [3]:
try:
    ticker = sf.ticker("INFY")

    print("Overview:")
    print(ticker.get_overview())

    print("\nIncome Statement:")
    display(ticker.get_income_statement())

    print("\nBalance Sheet:")
    display(ticker.get_balance_sheet())

    print("\nCash Flow:")
    display(ticker.get_cash_flow())

    print("\nQuarterly Results:")
    display(ticker.get_quarterly_results())

    print("\nShareholding:")
    display(ticker.get_shareholding())

    print("\nPeer Comparison:")
    display(ticker.get_peer_comparison())

except TickerNotFound as e:
    print(f"Ticker not found: {e}")

Overview:
{'Name': 'Infosys Ltd', 'About': 'Infosys Ltd provides consulting, technology, outsourcing and next-generation digital services to enable clients to execute strategies for their digital transformation.[1] It is the 2nd largest Information Technology company in India behind TCS.[2]'}

Income Statement:

,Metric,2014-03,2015-03,2016-03,2017-03,2018-03,2019-03,2020-03,2021-03,2022-03,2023-03,2024-03,2025-03
0,Sales,501.3300,533.1900,624.4100,684.8400,705.2200,826.7500,907.9100,1004.7200,1216.4100,1467.6700,1536.700,1629.9000
1,Sales Growth %,0.2424,0.0636,0.1711,0.0968,0.0298,0.1723,0.0982,0.1066,0.2107,0.2066,0.047,0.0606
2,Expenses,367.4300,384.3600,453.6200,498.8000,517.0000,625.0500,685.2400,725.8300,901.5000,1116.3700,1172.450,1237.5400
3,Manufacturing Cost %,0.0700,0.0800,0.1000,0.1000,0.1100,0.1200,0.1200,0.1300,0.1700,0.1800,0.180,0.1900
4,Employee Cost %,0.5800,0.5600,0.5500,0.5500,0.5500,0.5500,0.5600,0.5500,0.5300,0.5300,0.540,0.5300
5,Other Cost %,0.0900,0.0800,0.0800,0.0800,0.0800,0.0900,0.0700,0.0400,0.0400,0.0500,0.050,0.0400
6,Operating Profit,133.9000,148.8300,170.7900,186.0400,188.2200,201.7000,222.6700,278.8900,314.9100,351.3000,364.250,392.3600
7,OPM %,0.2700,0.2800,0.2700,0.2700,0.2700,0.2400,0.2500,0.2800,0.2600,0.2400,0.240,0.2400
8,Other Income,26.6400,34.3000,31.2000,30.5000,33.1100,28.8200,28.0300,22.0100,22.9500,27.0100,47.110,36.0000
9,Exceptional items,0.0000,0.1400,0.0000,2.3800,2.5300,1.7000,1.8300,0.7400,1.7700,1.4800,2.850,2.9100
10,Other income normal,26.6400,34.1600,31.2000,28.1200,30.5800,27.1200,26.2000,21.2700,21.1800,25.5300,44.260,33.0900
11,Interest,0.0900,0.1200,0.0000,0.0000,0.0000,0.0000,1.7000,1.9500,2.0000,2.8400,4.700,4.1600
12,Depreciation,13.1700,10.1700,14.5900,17.0300,18.6300,20.1100,28.9300,32.6700,34.7600,42.2500,46.780,48.1200
13,Profit before tax,147.2800,172.8400,187.4000,199.5100,202.7000,210.4100,220.0700,266.2800,301.1000,333.2200,359.880,376.0800
14,Tax %,0.2800,0.2800,0.2800,0.2800,0.2100,0.2700,0.2400,0.2700,0.2600,0.2800,0.270,0.2900
15,Net Profit,106.5600,123.7200,134.8900,143.5300,160.2900,154.1000,166.3900,194.2300,221.4600,241.0800,262.480,267.5000
16,Profit from Associates,0.0000,-0.0100,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.0000
17,Minority share,0.0000,0.0000,0.0000,0.0000,0.0000,-0.0600,-0.4500,-0.7200,-0.3600,-0.1300,-0.150,-0.3700
18,Exceptional items AT,0.0000,0.1000,0.0000,1.7100,1.9600,1.2400,1.3500,0.5400,1.3000,1.0700,2.080,1.9700
19,Profit excl Excep,106.5600,123.6200,134.8900,141.8200,158.3300,152.8600,165.0400,193.6900,220.1600,240.0100,260.400,265.5300
20,Profit for PE,106.5600,123.6200,134.8900,141.8200,158.3300,152.8000,164.5900,192.9700,219.8000,239.8800,260.250,265.1600
21,Profit for EPS,106.5600,123.7200,134.8900,143.5300,160.2900,154.0400,165.9400,193.5100,221.1000,240.9500,262.330,267.1300
22,EPS in Rs,0.2331,0.2693,0.2936,0.3124,0.3669,0.3526,0.3896,0.4542,0.5256,0.5808,0.632,0.6432
23,Dividend Payout %,0.3400,0.5500,0.4100,0.4100,0.5900,0.6000,0.4500,0.5900,0.5900,0.5800,0.730,0.6700

Balance Sheet:

,Metric,2014-03,2015-03,2016-03,2017-03,2018-03,2019-03,2020-03,2021-03,2022-03,2023-03,2024-03,2025-03
0,Equity Capital,286.0,572.0,1144.0,1144.0,1088.0,2170.0,2122.0,2124.0,2098.0,2069.0,2071.0,2073.0
1,Reserves,44244.0,50164.0,60600.0,67838.0,63835.0,62778.0,63328.0,74227.0,73252.0,73338.0,86045.0,93745.0
2,Borrowings,0.0,0.0,0.0,0.0,0.0,0.0,4633.0,5325.0,5474.0,8299.0,8359.0,8227.0
3,Lease Liabilities,0.0,0.0,0.0,0.0,0.0,0.0,4633.0,5325.0,5474.0,8299.0,8359.0,8227.0
4,Other Liabilities,12436.0,15553.0,13354.0,14166.0,14426.0,19118.0,21717.0,25835.0,35905.0,40890.0,40885.0,43750.0
5,Non controlling int,0.0,0.0,0.0,0.0,1.0,58.0,394.0,431.0,386.0,388.0,345.0,385.0
6,Trade Payables,173.0,140.0,386.0,367.0,694.0,1655.0,2852.0,2645.0,4134.0,3865.0,3956.0,4164.0
7,Advance from Customers,40.0,27.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Other liability items,12223.0,15386.0,12940.0,13799.0,13731.0,17405.0,18471.0,22759.0,31385.0,36637.0,36584.0,39201.0
9,Total Liabilities,56966.0,66289.0,75098.0,83148.0,79349.0,84066.0,91800.0,107511.0,116729.0,124596.0,137360.0,147795.0
10,Fixed Assets,8378.0,11346.0,13386.0,14179.0,12574.0,15710.0,23789.0,25505.0,25800.0,29225.0,27622.0,30961.0
11,Land,1142.0,1564.0,1622.0,1095.0,1229.0,1307.0,1950.0,2036.0,2066.0,2054.0,2037.0,2079.0
12,Building,5238.0,6102.0,6325.0,8419.0,9334.0,10270.0,15104.0,16328.0,16760.0,16903.0,16515.0,16376.0
13,Plant Machinery,1150.0,1427.0,1759.0,2048.0,2306.0,2709.0,3185.0,3296.0,3210.0,3302.0,3428.0,3461.0
14,Equipments,551.0,676.0,839.0,922.0,1002.0,1101.0,1265.0,1371.0,1427.0,1482.0,1528.0,1628.0
15,Computers,2659.0,3347.0,4486.0,4945.0,4903.0,6287.0,7423.0,8650.0,9936.0,11898.0,12353.0,12925.0
16,Furniture n fittings,805.0,958.0,1444.0,1277.0,1393.0,1620.0,2073.0,2149.0,2278.0,2303.0,2326.0,2340.0
17,Vehicles,35.0,34.0,29.0,31.0,31.0,38.0,69.0,74.0,71.0,60.0,62.0,72.0
18,Intangible Assets,2244.0,3637.0,3858.0,3743.0,2237.0,3640.0,5527.0,6372.0,6495.0,7594.0,7653.0,10626.0
19,Other fixed assets,126.0,71.0,931.0,899.0,545.0,1093.0,2289.0,2730.0,2766.0,3281.0,3294.0,5184.0
20,Gross Block,13950.0,17816.0,21293.0,23379.0,22980.0,28065.0,38885.0,43006.0,45009.0,48877.0,49196.0,54691.0
21,Accumulated Depreciation,5572.0,6470.0,7907.0,9200.0,10406.0,12355.0,15096.0,17501.0,19209.0,19652.0,21574.0,23730.0
22,CWIP,961.0,776.0,960.0,1365.0,1606.0,1388.0,954.0,922.0,416.0,288.0,293.0,814.0
23,Investments,4331.0,2270.0,1892.0,16423.0,12163.0,11261.0,8792.0,14205.0,20324.0,19478.0,24623.0,23541.0
24,Other Assets,43296.0,51897.0,58860.0,51181.0,53006.0,55707.0,58265.0,66879.0,70189.0,75605.0,84822.0,92479.0
25,Trade receivables,8351.0,9713.0,11330.0,12322.0,13142.0,14827.0,18487.0,19294.0,22698.0,25424.0,30193.0,31158.0
26,Cash Equivalents,25950.0,30367.0,32697.0,22625.0,19818.0,19568.0,18649.0,24714.0,17472.0,12173.0,14786.0,24455.0
27,Loans n Advances,1484.0,399.0,614.0,844.0,830.0,1524.0,1359.0,1460.0,2491.0,3242.0,10330.0,6717.0
28,Other asset items,7511.0,11418.0,14219.0,15390.0,19216.0,19788.0,19770.0,21411.0,27528.0,34766.0,29513.0,30149.0
29,Total Assets,56966.0,66289.0,75098.0,83148.0,79349.0,84066.0,91800.0,107511.0,116729.0,124596.0,137360.0,147795.0

Cash Flow:

,Metric,2014-03,2015-03,2016-03,2017-03,2018-03,2019-03,2020-03,2021-03,2022-03,2023-03,2024-03,2025-03
0,Cash from Operating Activity,9825.0,8353.0,10028.0,11531.0,13218.0,14841.0,17003.0,23224.0,23885.0,22467.0,25210.0,35694.0
1,Profit from operations,14172.0,15946.0,17839.0,19340.0,19963.0,22126.0,23920.0,28845.0,32921.0,37605.0,39523.0,41591.0
2,Receivables,-1406.0,-1475.0,-1654.0,-1743.0,-1523.0,-2881.0,-3861.0,-1835.0,-7937.0,-7076.0,-2667.0,-1769.0
3,Payables,0.0,0.0,242.0,-19.0,328.0,916.0,-373.0,-245.0,1489.0,-279.0,91.0,176.0
4,Loans Advances,-1060.0,-221.0,-1134.0,0.0,0.0,0.0,0.0,0.0,-1914.0,-3108.0,-1172.0,-1024.0
5,Other WC items,1993.0,854.0,600.0,-394.0,1279.0,1512.0,1867.0,2848.0,6938.0,4119.0,-1334.0,2322.0
6,Working capital changes,-473.0,-842.0,-1946.0,-2156.0,84.0,-453.0,-2367.0,768.0,-1424.0,-6344.0,-5082.0,-295.0
7,Direct taxes,-3874.0,-6751.0,-5865.0,-5653.0,-6829.0,-6832.0,-4550.0,-6389.0,-7612.0,-8794.0,-9231.0,-5602.0
8,Cash from Investing Activity,-2563.0,999.0,-885.0,-14664.0,4533.0,-632.0,-331.0,-7373.0,-6485.0,-1071.0,-5093.0,-1864.0
9,Fixed assets purchased,-2748.0,-2247.0,-2723.0,-2760.0,-1998.0,-2445.0,-3307.0,-2107.0,-2161.0,-2579.0,-2201.0,-2237.0
10,Fixed assets sold,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Investments purchased,-25046.0,-23923.0,-24577.0,-66410.0,-69159.0,-79410.0,-37482.0,-46738.0,-59951.0,-75800.0,-78118.0,-82753.0
12,Investments sold,22385.0,25253.0,24980.0,52048.0,74003.0,78098.0,38861.0,40381.0,57356.0,76722.0,72956.0,84888.0
13,Interest received,2379.0,2551.0,2383.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Dividends received,0.0,0.0,0.0,2753.0,1768.0,1557.0,1929.0,1418.0,1898.0,1525.0,1768.0,2040.0
15,Acquisition of companies,0.0,-1376.0,-747.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Inter corporate deposits,0.0,0.0,-142.0,-164.0,-130.0,-24.0,-108.0,-207.0,0.0,0.0,0.0,0.0
17,Other investing items,464.0,741.0,-59.0,-131.0,49.0,1592.0,-224.0,-120.0,-3627.0,-939.0,502.0,-3802.0
18,Cash from Financing Activity,-3144.0,-4935.0,-6813.0,-6939.0,-20505.0,-14512.0,-17591.0,-9786.0,-24642.0,-26695.0,-17504.0,-24161.0
19,Proceeds from shares,0.0,0.0,0.0,0.0,5.0,6.0,6.0,15.0,21.0,35.0,5.0,6.0
20,Repayment of borrowings,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-985.0
21,Dividends paid,-3144.0,-4935.0,-6813.0,-6939.0,-7464.0,-13705.0,-9548.0,-9137.0,-12731.0,-13653.0,-14731.0,-20289.0
22,Financial liabilities,0.0,0.0,0.0,0.0,0.0,0.0,-571.0,-698.0,-915.0,-1231.0,-2024.0,-2355.0
23,Other financing items,0.0,0.0,0.0,0.0,-13046.0,-813.0,-7478.0,34.0,-11017.0,-11846.0,-754.0,-538.0
24,Net Cash Flow,4118.0,4417.0,2330.0,-10072.0,-2754.0,-303.0,-919.0,6065.0,-7242.0,-5299.0,2613.0,9669.0

Quarterly Results:

,Metric,2022-03,2022-06,2022-09,2022-12,2023-03,2023-06,2023-09,2023-12,2024-03,2024-06,2024-09,2024-12,2025-03
0,Sales,322.7600,344.7000,365.3800,383.1800,374.4100,379.3300,389.9400,388.2100,379.2300,393.1500,409.8600,417.6400,409.2500
1,YOY Sales Growth %,0.2267,0.2357,0.2343,0.2024,0.1600,0.1005,0.0672,0.0131,0.0129,0.0364,0.0511,0.0758,0.0792
2,Expenses,244.3000,266.0600,276.3600,289.5100,284.4300,288.6900,295.5400,296.8400,291.3900,298.7800,311.7700,316.4900,310.5100
3,Employee Cost %,0.5200,0.5300,0.5300,0.5300,0.5400,0.5500,0.5300,0.5300,0.5400,0.5300,0.5300,0.5100,0.5400
4,Operating Profit,78.4600,78.6400,89.0200,93.6700,89.9800,90.6400,94.4000,91.3700,87.8400,94.3700,98.0900,101.1500,98.7400
5,OPM %,0.2400,0.2300,0.2400,0.2400,0.2400,0.2400,0.2400,0.2400,0.2300,0.2400,0.2400,0.2400,0.2400
6,Other Income,6.3700,6.7600,5.8400,7.6900,6.7100,5.6100,6.3200,7.8900,27.2900,8.3800,7.1200,8.5900,11.9000
7,Other income normal,6.3700,6.7600,5.8400,7.6900,6.7100,5.6100,6.3200,7.8900,27.2900,8.3800,7.1200,8.5900,11.9000
8,Interest,0.5000,0.5600,0.6600,0.8000,0.8200,0.9000,1.3800,1.3100,1.1000,1.0500,1.0800,1.0100,1.0200
9,Depreciation,8.9000,9.5000,10.2900,11.2500,11.2100,11.7300,11.6600,11.7600,11.6300,11.4900,11.6000,12.0300,12.9900
10,Profit before tax,75.4300,75.3400,83.9100,89.3100,84.6600,83.6200,87.6800,86.1900,102.4000,90.2100,92.5300,96.7000,96.6300
11,Tax %,0.2400,0.2900,0.2800,0.2600,0.2800,0.2900,0.2900,0.2900,0.2200,0.2900,0.3000,0.2900,0.2700
12,Net Profit,56.9500,53.6200,60.2600,65.8600,61.3400,59.4500,62.1500,61.1300,79.7500,63.7400,65.1600,68.2200,70.3800
13,Minority share,-0.0900,-0.0200,-0.0500,0.0000,-0.0600,0.0000,-0.0300,-0.0700,-0.0600,-0.0600,-0.1000,-0.1600,-0.0500
14,Profit excl Excep,56.9500,53.6200,60.2600,65.8600,61.3400,59.4500,62.1500,61.1300,79.7500,63.7400,65.1600,68.2200,70.3800
15,Profit for PE,56.8600,53.6000,60.2100,65.8600,61.2800,59.4500,62.1200,61.0600,79.6900,63.6800,65.0600,68.0600,70.3300
16,Profit for EPS,56.8600,53.6000,60.2100,65.8600,61.2800,59.4500,62.1200,61.0600,79.6900,63.6800,65.0600,68.0600,70.3300
17,YOY Profit Growth %,0.1200,0.0400,0.1100,0.1300,0.0800,0.1100,0.0300,-0.0700,0.3000,0.0700,0.0500,0.1100,-0.1200
18,EPS in Rs,0.1352,0.1274,0.1431,0.1570,0.1477,0.1432,0.1497,0.1471,0.1920,0.1534,0.1567,0.1639,0.1693
19,Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Shareholding:

,Metric,2022-06,2022-09,2022-12,2023-03,2023-06,2023-09,2023-12,2024-03,2024-06,2024-09,2024-12,2025-03
0,Promoters,0.1311,0.1516,0.1511,0.1514,0.1494,0.1489,0.1478,0.1471,0.1461,0.1443,0.1443,0.1460
1,Sudha Gopalakrishnan,0.0227,0.0262,0.0261,0.0262,0.0258,0.0257,0.0257,0.0257,0.0255,0.0254,0.0254,0.0257
2,Rohan Murty,0.0145,0.0167,0.0167,0.0167,0.0165,0.0164,0.0164,0.0164,0.0163,0.0162,0.0162,0.0164
3,Nandan M Nilekani,0.0097,0.0112,0.0112,0.0112,0.0110,0.0110,0.0110,0.0110,0.0109,0.0109,0.0109,0.0110
4,Akshata Murty,0.0093,0.0107,0.0107,0.0107,0.0105,0.0105,0.0105,0.0105,0.0104,0.0104,0.0104,0.0105
5,Asha Dinesh,0.0092,0.0106,0.0106,0.0106,0.0104,0.0104,0.0104,0.0104,0.0103,0.0103,0.0103,0.0104
6,S Gopalakrishnan,0.0099,0.0115,0.0115,0.0115,0.0086,0.0086,0.0086,0.0086,0.0085,0.0085,0.0085,0.0086
7,Sudha N Murty,0.0082,0.0095,0.0095,0.0095,0.0094,0.0093,0.0093,0.0093,0.0093,0.0092,0.0092,0.0093
8,Rohini Nilekani,0.0082,0.0094,0.0094,0.0094,0.0093,0.0093,0.0093,0.0093,0.0092,0.0091,0.0091,0.0092
9,Dinesh Krishnaswamy,0.0077,0.0089,0.0089,0.0089,0.0088,0.0088,0.0088,0.0088,0.0087,0.0086,0.0086,0.0087
10,Shreyas Shibulal,0.0056,0.0065,0.0065,0.0065,0.0064,0.0064,0.0057,0.0057,0.0057,0.0053,0.0053,0.0054
11,Narayana Murthy,0.0040,0.0046,0.0046,0.0046,0.0045,0.0045,0.0045,0.0041,0.0041,0.0040,0.0040,0.0041
12,Nihar Nilekani,0.0030,0.0035,0.0035,0.0035,0.0034,0.0034,0.0034,0.0034,0.0034,0.0034,0.0034,0.0034
13,Gaurav Manchanda,0.0033,0.0038,0.0038,0.0038,0.0037,0.0037,0.0037,0.0034,0.0034,0.0031,0.0031,0.0016
14,Meghana Gopalakrishnan,0.0011,0.0013,0.0013,0.0013,0.0040,0.0040,0.0040,0.0040,0.0040,0.0039,0.0039,0.0040
15,Janhavi Nilekani,0.0020,0.0024,0.0024,0.0024,0.0023,0.0023,0.0023,0.0023,0.0023,0.0023,0.0023,0.0023
16,Deeksha Dinesh,0.0018,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0020,0.0020,0.0020,0.0021
17,Divya Dinesh,0.0018,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0020,0.0020,0.0020,0.0021
18,Milan Shibulal Manchanda,0.0017,0.0019,0.0019,0.0019,0.0019,0.0019,0.0019,0.0018,0.0017,0.0016,0.0016,0.0016
19,Nikita Shibulal Manchanda,0.0017,0.0019,0.0019,0.0019,0.0019,0.0019,0.0019,0.0018,0.0017,0.0016,0.0016,0.0016
20,Bhairavi Madhusudhan Shibulal,0.0016,0.0018,0.0018,0.0018,0.0018,0.0018,0.0016,0.0016,0.0015,0.0014,0.0014,0.0015
21,S D Shibulal,0.0014,0.0016,0.0016,0.0016,0.0016,0.0016,0.0016,0.0014,0.0014,0.0014,0.0014,0.0014
22,Kumari Shibulal,0.0012,0.0014,0.0014,0.0014,0.0014,0.0014,0.0014,0.0013,0.0013,0.0013,0.0013,0.0013
23,Tanush Nilekani Chandra,0.0008,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009,0.0009
24,Shruti Shibulal,0.0007,0.0008,0.0008,0.0008,0.0007,0.0007,0.0007,0.0007,0.0007,0.0007,0.0007,0.0023
25,Ekagrah Rohan Murty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0004,0.0004,0.0004,0.0004,0.0004
26,Shray Chandra,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002,0.0002
27,FIIs,0.3172,0.3620,0.3629,0.3509,0.3344,0.3360,0.3370,0.3411,0.3274,0.3328,0.3330,0.3289
28,Government Of Singapore,0.0228,0.0269,0.0275,0.0261,0.0246,0.0258,0.0248,0.0229,0.0148,0.0175,0.0172,0.0140
29,Government Pension Fund Global,0.0124,0.0147,0.0145,0.0144,0.0140,0.0128,0.0125,0.0156,0.0138,0.0122,0.0124,0.0121
30,"Vanguard Emerging Markets Stock Index Fund, A ...",0.0118,0.0135,0.0134,0.0135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Vanguard Total International Stock Index Fund,0.0110,0.0130,0.0129,0.0129,0.0127,0.0127,0.0128,0.0130,0.0130,0.0130,0.0131,0.0134
32,Vanguard Emerging Markets Stock Index Fund,NaN,NaN,NaN,NaN,0.0131,0.0129,0.0128,0.0126,0.0124,0.0120,0.0119,0.0121
33,DIIs,0.1888,0.3213,0.3250,0.3359,0.3458,0.3519,0.3551,0.3562,0.3728,0.3781,0.3819,0.3832
34,Life Insurance Corporation Of India - Ulif0022...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1058,0.1045
35,Life Insurance Corporation of India,NaN,0.0755,0.0771,0.0819,0.0883,0.0939,0.0987,0.1041,0.1081,0.1082,NaN,NaN
36,Sbi Mutual Fund,0.0349,0.0433,0.0442,0.0450,0.0468,0.0491,0.0487,0.0469,0.0454,0.0463,0.0469,0.0473
37,Icici Prudential Mutual Fund,0.0218,0.0250,0.0242,0.0256,0.0287,0.0288,0.0290,0.0302,0.0327,0.0294,0.0285,0.0305
38,National Pension System Trust,NaN,0.0164,0.0167,0.0178,0.0181,0.0182,0.0185,0.0187,0.0184,0.0181,0.0187,0.0193
39,Uti Mutual Fund,0.0133,0.0163,0.0166,0.0167,0.0172,0.0174,0.0173,0.0169,0.0177,0.0177,0.0185,0.0189
40,Hdfc Mutual Fund,0.0131,0.0157,0.0161,0.0171,0.0169,0.0168,0.0163,0.0159,0.0190,0.0169,0.0182,0.0198
41,Nippon Life India Trustee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0122,0.0140,0.0148,0.0147
42,Sbi Life Insurance Co. Ltd,NaN,NaN,NaN,0.0119,0.0118,0.0121,0.0120,0.0128,0.0121,0.0130,0.0133,0.0136
43,Icici Prudential Life Insurance Company Limited,0.0110,0.0128,0.0123,0.0130,0.0123,0.0116,0.0112,NaN,0.0120,0.0113,0.0111,NaN
44,Kotak Equity Arbitrage Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0116
45,Aditya Birla Sun Life Trustee,NaN,NaN,NaN,0.0116,0.0121,0.0113,0.0112,0.0113,0.0117,0.0116,0.0114,NaN
46,Government,0.0000,0.0018,0.0019,0.0019,0.0020,0.0019,0.0020,0.0021,0.0021,0.0020,0.0020,0.0021
47,Public,0.3598,0.1593,0.1553,0.1567,0.1652,0.1583,0.1552,0.1506,0.1491,0.1401,0.1362,0.1372
48,Others,0.0031,0.0035,0.0034,0.0033,0.0032,0.0031,0.0030,0.0029,0.0027,0.0027,0.0027,0.0026
49,Deutsche Bank Trust Company Americas,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000
50,No. of Shareholders,26645.6400,28932.0900,27369.7500,28015.7400,31446.1300,30094.4800,28970.3000,27734.0600,28207.4000,25769.9100,25427.6600,25462.3400

Peer Comparison:

,S.No.,Name,CMP,P/E,Mar Cap,Div Yld,NP Qtr,Qtr Profit Var,Sales Qtr,Qtr Sales Var,ROCE
0,1.0,TCS,3441.80,25.66,1244966.17,1.74,12293.00,-1.69,64479.00,5.29,64.63
1,2.0,Infosys,1616.00,25.31,671071.54,2.66,7038.00,-11.75,40925.00,7.92,37.50
2,3.0,HCL Technologies,1724.10,26.90,467985.64,3.13,4309.00,8.10,30246.00,6.13,31.88
3,4.0,Wipro,268.52,21.50,281477.29,2.23,3588.10,25.93,22504.20,1.33,19.51
4,5.0,Tech Mahindra,1690.20,41.91,165558.13,2.66,1141.90,72.75,13384.00,3.98,18.56
5,6.0,LTIMindtree,5373.00,34.58,159034.04,1.21,1128.60,2.60,9771.70,9.88,27.63
6,7.0,Persistent Sys,6055.50,69.78,94747.57,0.58,395.76,25.51,3242.11,25.15,30.44
7,NaN,Median: 68 Co.,358.73,28.51,950.55,0.20,10.82,16.99,73.58,14.04,19.64

## Log in and run a custom screener query

In [4]:
# Replace with your credentials
email = "your_email@example.com"
password = "your_password"

try:
    sf.login(email, password)
    print("Login successful:", sf.fetcher.is_logged_in())

    screener = sf.screener()
    query = "Return on equity > 15 AND Piotroski score > 7"
    df = screener.load_raw_query(query=query, sort="Market Capitalization", order="desc", page=1)
    display(df)

except LoginRequiredError:
    print("Login failed or required before using screener features.")
except Exception as e:
    print(f"Error: {e}")

Login successful.
Login successful: True

,S.No.,Name,CMPRs.,P/E,Mar CapRs.Cr.,Div Yld%,NP QtrRs.Cr.,Qtr Profit Var%,Sales QtrRs.Cr.,Qtr Sales Var%,ROCE%,OPM%,CMP / BV,Debt / Eq,DebtRs.Cr.,Profit growth%,ROCE 5Yr%,Debt 5YrsRs.Cr.,ROE%,Piotski Scr
0,1.,Sun Pharma.Inds.,1669.80,34.92,400425.11,0.96,2153.93,-13.13,12958.84,8.14,20.19,29.05,5.55,0.03,2362.19,14.81,16.86,8314.88,16.88,8.00
1,2.,Hindustan Zinc,448.90,18.35,189781.89,6.46,2976.00,45.74,9041.00,19.75,60.81,50.92,14.27,0.82,10964.00,33.03,44.24,611.00,72.52,8.00
2,3.,Vedanta,455.50,12.87,178057.74,9.55,4961.00,142.23,40455.00,13.93,25.26,27.68,4.32,2.22,91479.00,276.15,22.38,59187.00,38.48,8.00
3,4.,Solar Industries,17266.00,129.22,156288.85,0.06,346.11,37.09,2166.55,34.51,36.82,26.00,35.62,0.22,974.95,32.32,29.85,708.13,31.45,8.00
4,5.,Pidilite Inds.,3020.00,73.35,153642.59,0.53,427.52,25.89,3141.14,8.25,29.86,22.90,15.75,0.05,454.14,17.54,27.38,287.69,23.07,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96.,Bio Green Papers,180.00,59.45,2095.78,0.00,12.91,16237.50,153.85,,25.96,10.12,21.60,0.00,0.20,205.46,11.70,3.37,25.97,8.00
96,97.,Kernex Microsys.,1211.60,40.60,2032.20,0.00,32.53,357.77,83.07,832.32,23.76,21.50,12.86,0.26,40.32,289.37,-5.87,10.67,37.84,8.00
97,98.,Expleo Solutions,1288.80,19.36,1998.88,3.88,24.08,53.38,255.80,0.15,21.88,16.17,3.15,0.05,29.79,14.03,31.15,0.00,16.56,8.00
98,99.,Rajoo Engineers,115.84,49.90,1902.02,0.16,15.31,116.24,89.90,70.65,32.83,18.37,11.64,0.00,0.27,84.42,22.16,8.14,26.30,8.00
99,100.,Frontier Springs,4676.35,53.16,1842.49,0.03,11.66,130.89,70.08,58.77,41.83,21.47,14.86,0.05,5.94,172.70,21.91,8.87,32.50,8.00

## Close the session

In [5]:
sf.close()